<c-container>
    <c-row class="justify-content-center">
        <c-col [sm]="10" [lg]="5" class="mg50" >
            <c-card>
              <h3 cCardTitle class="text-center mt-5 text-light">Login Floric</h3>
                <form [formGroup]="loginFrom"  validated  (ngSubmit)="onSubmit()"  cForm  class="p-5">

                    <div  class="mb-3">
                        <label cLabel for="email" class="text-light">Email address</label>
                        <input cFormControl
                            
                            id="email"
                            type="email"
                            formControlName="email"
                            name="email"
                            placeholder="Your Email"
                            [valid]="false"
                            value=""
                            class="brd"
                        />
                        <small *ngIf='loginFrom.get("email")!.hasError("required") && loginFrom.get("email")!.touched' class='text-danger'>Email is required</small>
                        <small *ngIf='loginFrom.get("email")!.hasError("email") && loginFrom.get("email")!.touched' class='text-danger'>This field must be a valid email</small>
                    </div>
                    <div >
                        <label cLabel for="password" class="text-light">Password</label>
                        <c-input-group class="mb-3 ">
                          
                            <input cFormControl
                            id = "password"
                            [type]="hide ? 'password' : 'text'"
                            formControlName="password"
                            name="password"
                            placeholder="Enter  password "
                            class="">
                          
                          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" cInputGroupText>
                              <fa-icon [icon]="pass"></fa-icon> 
                          </button>
                        </c-input-group>
                        <small class="text-danger" [routerLink]="['/auth/forget-password/' ]" >forget password?</small>
                        <small *ngIf='loginFrom.get("password")!.hasError("required") && loginFrom.get("password")!.touched' class='text-danger'> <br> Password is required</small>
                        <small *ngIf='loginFrom.get("password")!.hasError("minlength") && loginFrom.get("password")!.touched' class='text-danger'> <br>Password should be minimum 6 character</small>
                    </div>
                    
                    
                    <div class="text-center mt-5">
                        <button
                         cButton 
                         color="info"
                         type="submit"
                         (clik)="onSubmit()"
                         >Submit
                        </button>
    
                      </div>
                </form>
                <div class="">
                  <button
                   cButton 
                   color="link"
                   type="button"
                   [routerLink]="['/auth/registration/' ]"
                   >create account
                  </button>

                </div>
                <!-- <small class="text-danger">create account</small> -->
            </c-card>
            


        </c-col>
    </c-row>
</c-container>



<!-- <c-container class="mt-5">
  <c-row class="mb-3">
    <label [sm]="2" cCol cLabel="col" for="staticEmail">
      Email
    </label>
    <c-col [sm]="10">
      <input cFormControl id="staticEmail" plaintext placeholder="Your Email"  type="text"  />
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel="col" class="col-sm-2" for="inputPassword">
      Password
    </label>
    <c-col [sm]="10">
      <input cFormControl id="inputPassword" type="password" placeholder="Your Floric Password" />
    </c-col>
  </c-row>

</c-container> -->










                <!-- <form [formGroup]="loginFrom" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
                <mat-form-field class="matCard">
                  <input
                    type="email"
                    matInput
                    formControlName="email"
                    name="email"
                    placeholder="Your Email"
                  />
                </mat-form-field>
          
                <br />
                <mat-form-field class="matCard">
                  <input
                    [type]="hide ? 'password' : 'text'"
                    matInput
                    formControlName="password"
                    name="password1"
                    placeholder="Enter  password "
                  />
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                  </button>
                </mat-form-field>
          
                <br />
          
                <div class="text-center mt-2">
                  <button
                    type="submit"
                    color="primary"
                    class=""
                    mat-raised-button
                    [disabled]="!loginFrom.valid"
                    (clik)="onSubmit()"
                  >
                    Submit
                  </button>
                </div>
              </form> -->