<c-container>
    <c-row class="justify-content-center">
        <c-col [sm]="10" [lg]="5" class="mg50" >
            <c-card>
              <h3 cCardTitle class="text-center mt-5 text-light">Forget password</h3>
                <form [formGroup]="forgetFrom"  validated  (ngSubmit)="onSubmit()"  cForm  class="p-5">

                    <div  class="mb-3">
                        <label cLabel for="email" class="text-light">Email address</label>
                        <input cFormControl
                            
                            id="email"
                            type="email"
                            formControlName="email"
                            name="email"
                            placeholder="Your Email"
                            [valid]="false"
                            value=""
                            class="brd"
                        />
                        <small *ngIf='forgetFrom.get("email")!.hasError("required") && forgetFrom.get("email")!.touched' class='text-danger'>Email is required</small>
                        <small *ngIf='forgetFrom.get("email")!.hasError("email") && forgetFrom.get("email")!.touched' class='text-danger'>This field must be a valid email</small>
                    </div>

                    
                    
                    <div class="text-center mt-5">
                        <button
                         cButton 
                         color="info"
                         type="submit"
                         (clik)="onSubmit()"
                         >Submit
                        </button>
    
                      </div>
                </form>
                <div class="">
                  <button
                   cButton 
                   color="link"
                   type="button"
                   [routerLink]="['/auth/' ]"
                   >Login
                  </button>

                </div>
                <!-- <small class="text-danger">create account</small> -->
            </c-card>
            


        </c-col>
    </c-row>
</c-container>
