.danger-text{
    color:red;
}

.brd{
    border: 1 solid rgb(0, 0, 0);
}

// .form-control:valid, .form-control.is-valid, .form-control.ng-valid
// class="brd form-control is-invalid ng-pristine ng-invalid ng-touched

.form-control:valid,  .form-control.is-valid, .form-control.ng-valid{
    border: 1px solid rgb(116, 114, 114);
}

// .form-control.ng-touched, .form-control.ng-invalid{

//     border: 1px solid rgb(170, 56, 56);
// }



.mg50{
    margin-top:10% ;
}
c-card{
    background-color: #050507;
}

body{
     background-color: aqua;
}