<c-container>
    <c-row class="justify-content-center">
        <c-col [sm]="10" [lg]="5" class="mg50" >
            <c-card>
              <h3 cCardTitle class="text-center mt-5 text-light">Change Password</h3>
                <form [formGroup]="changePassForm"  validated  (ngSubmit)="onSubmit()"  cForm  class="p-5">

                    <div >
                        <label cLabel for="password" class="text-light">Current Password</label>
                        <c-input-group class="mb-3 ">
                          
                            <input cFormControl
                            id = "oldPassword"
                            [type]="hide ? 'password' : 'text'"
                            formControlName="oldPassword"
                            name="password"
                            placeholder="Enter  password "
                            class="">
                          
                          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" cInputGroupText>
                              <fa-icon [icon]="pass"></fa-icon> 
                          </button>
                        </c-input-group>

                        <small *ngIf='changePassForm.get("oldPassword")!.hasError("required") && changePassForm.get("oldPassword")!.touched' class='text-danger'> <br>Current Password is required</small>
                        <small *ngIf='changePassForm.get("oldPassword")!.hasError("minlength") && changePassForm.get("oldPassword")!.touched' class='text-danger'> <br>Password should be minimum 6 character</small>
                    </div>
                    <div >
                        <label cLabel for="password" class="text-light">New Password</label>
                        <c-input-group class="mb-3 ">
                          
                            <input cFormControl
                            id = "password1"
                            [type]="hide ? 'password' : 'text'"
                            formControlName="password1"
                            name="password"
                            placeholder="Enter  password "
                            class="">
                          
                          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" cInputGroupText>
                              <fa-icon [icon]="pass"></fa-icon> 
                          </button>
                        </c-input-group>
                        <small *ngIf='changePassForm.get("password1")!.hasError("required") && changePassForm.get("password1")!.touched' class='text-danger'> <br>New Password is required</small>
                        <small *ngIf='changePassForm.get("password1")!.hasError("minlength") && changePassForm.get("password1")!.touched' class='text-danger'> <br>Password should be minimum 6 character</small>
                    </div>
                    <div >
                        <label cLabel for="password" class="text-light">Re Type New Password</label>
                        <c-input-group class="mb-3 ">
                          
                            <input cFormControl
                            id = "password2"
                            [type]="hide ? 'password' : 'text'"
                            formControlName="password2"
                            name="password"
                            placeholder="Enter  password "
                            class="">
                          
                          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" cInputGroupText>
                              <fa-icon [icon]="pass"></fa-icon> 
                          </button>
                        </c-input-group>
                        <small *ngIf='changePassForm.get("password2")!.hasError("required") && changePassForm.get("password2")!.touched' class='text-danger'> <br>New Password is required</small>
                        <small *ngIf='changePassForm.get("password2")!.hasError("minlength") && changePassForm.get("password2")!.touched' class='text-danger'> <br>Password should be minimum 6 character</small>
                    </div>
                    
                    
                    <div class="text-center mt-5">
                        <button
                         cButton 
                         color="info"
                         type="submit"
                         (clik)="onSubmit()"
                         >Submit
                        </button>
    
                      </div>
                </form>
                <div class="">
                  <button
                   cButton 
                   color="link"
                   type="button"
                   [routerLink]="['/' ]"
                   >Cancel
                  </button>

                </div>
                <!-- <small class="text-danger">create account</small> -->
            </c-card>
            


        </c-col>
    </c-row>
</c-container>