


  <div class="stc">
    <c-header class="header">
      <c-container fluid >
        <c-header-brand [routerLink]="['/']"   >  <img src="../../assets/logo.jpg" alt="brand" class="brand_img">   <span class="white">Floric</span></c-header-brand>
      
        <c-header-nav class="ms-auto">
          <c-nav-item (click)="searchopen()" class="minisearchopen">
              <button cButton type="submit" color="light" variant="ghost" cTooltip="search" cTooltipPlacement="bottom"
                   class="me-1" >
                <fa-icon [icon]="searchIcon"></fa-icon>     
              </button>
          </c-nav-item>

          <c-nav-item>
            <span class="searchbox">
              <div class="container-fluid">
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #sr>
                <button cButton type="submit" color="light" variant="ghost" cTooltip="search" cTooltipPlacement="bottom"
                   class="me-1" [routerLink]="['/dashbord/products']"
                   [queryParams]="{ s: sr.value }" >
                <fa-icon [icon]="searchIcon"></fa-icon>     
              </button>
                </form>
              </div>
          </span>
          </c-nav-item>
          <c-nav-item >
              <button cButton  color="light" variant="ghost" [routerLink]="['/order',]" cTooltip="shoping cart" cTooltipPlacement="bottom"
              class="me-1" >
                <fa-icon [icon]="cart"></fa-icon>
                 
              </button>
          </c-nav-item>
          <c-nav-item >
            <button cButton  color="light" variant="ghost" [routerLink]="['/auth','account']"  cTooltip="your account" cTooltipPlacement="bottom"
            class="me-1"  >
              <fa-icon [icon]="faUser"></fa-icon>
               
            </button>
        </c-nav-item>
          
          <c-nav-item>
            <button cButton cOffcanvasToggle="OffcanvasStart" color="light" variant="ghost"  cTooltip="menu" cTooltipPlacement="bottom"
            class="me-1" >
                <c-icon name="cil-menu" class="white" size="lg" ></c-icon>
               
            </button>
        </c-nav-item>
  
        </c-header-nav>
      </c-container> 


    </c-header>
    <div class="searchboxmini" [style.display]=minisearch>
      <nav class="navbar navbar-light bg-light">
        <form class="container-fluid">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search" aria-describedby="basic-addon1" #search>
            <span class="input-group-text" id="basic-addon1">
    
              <button cButton type="button" color="dark" variant="ghost" cTooltip="search" cTooltipPlacement="bottom"
              class="me-1" 
              [routerLink]="['/dashbord/products']"
              [queryParams]="{ s: search.value }"
              >
           <fa-icon [icon]="searchIcon"></fa-icon>     
              </button>

    
            </span>
          </div>
        </form>
      </nav>
    </div>
  </div>




  <c-offcanvas class="mt-5"
  [style.height.px]=navHeighit

  placement="start"
  id="OffcanvasStart"
>
  <c-offcanvas-header class="mt-3" >
    <h5 cOffcanvasTitle
    cOffcanvasToggle="OffcanvasStart"> Floric</h5>
    <button
      cButtonClose
      class="text-reset"
      cOffcanvasToggle="OffcanvasStart"
      aria-label="Close"
    ></button>
  </c-offcanvas-header>
  <c-offcanvas-body >
    <!-- <c-nav class="flex-column"  *ngFor="let item of navlist">

        <c-nav-item >
          <button cButton  color="dark" variant="ghost"  [routerLink]="['/order',]" >
            {{item}}
             
          </button>
      </c-nav-item>
      
      </c-nav> -->
      <c-nav class="flex-column"  *ngFor="let item of navItems" >

        <!-- <c-nav-item cOffcanvasToggle="OffcanvasStart">

          <a [routerLink]="['/auth']" cNavLink>{{item}}</a>
        </c-nav-item> -->
        <c-nav-item cOffcanvasToggle="OffcanvasStart">
          <button cButton  color="dark" class="wf text-start" variant="ghost"  [routerLink]="['/dashbord/products']"
          [queryParams]="{ s: item.name }" >
          {{item.name}}
            
             
          </button>
      </c-nav-item>

      
      
      </c-nav>
  </c-offcanvas-body>
</c-offcanvas>
