c-offcanvas{
    width:15rem;
    overflow: scroll; 

    // scrollbar-width: thin;
}




::-webkit-scrollbar-thumb {
    background: #999;
    border: 0.4em solid var(--cui-body-bg, rgb(0, 0, 0));
    border-radius: 100vw;
}


.header{
    background-color: rgb(5, 5, 7);


}
.brand_img{
    height: 3rem;
}
.white{
    color: white;
}
.black{
    color: black;
}
.stc, .searchboxmini{
    position: sticky !important;
    top: 0px;
    z-index: 1;
}


@media only screen and (max-width: 600px) {
    .searchbox{
        display: none;
    }
    .minisearchopen{
        display: flex;
    }
}
@media only screen and (min-width: 599px) {
    .searchboxmini{
        display: none;
    }
    .minisearchopen{
        display: none;
    }
}

//   .searchboxmini{
//       position: fixed;
//       width: 100%;
//       margin-bottom: 70px;
//       z-index: 2;
//   }

.wf{
    width: 100%;
    
}

c-offcanvas::-webkit-scrollbar {
        width: 1em;
      }
 