.price{
    // size: 400%;
    font-size: 200%;
    color: red;
}

// .avility{
//     background-color: rgb(83, 204, 83);
//     padding: 1rem;
// }

.mrw{
    font-weight: 900;
    font-size: 150%;
}

.pas{
    padding-left: 2rem;
}



.star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
.filled {
    color: #000000;
  }
.bad {
    color: #deb0b0;
  }
.filled.bad {
    color: #000000;
  }

  ngb-rating{
      margin-top: -2rem;
  }
.ratingbox{
    margin-top: 1rem;
    border-top: 0;
}