
<!-- 
<div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0;">
    
  </div> -->


  <c-container>
      <c-row>
          <c-col class="mt-5 p-0 align-items-start" md="5">
            <ng-image-slider #nav
            [images]="imageObject"
            [infinite]="false"
            [autoSlide]="1"
            [imageSize]="{width: '100%', height: '50%'}"
            slideImage="1"></ng-image-slider>

          </c-col>
          <c-col class="m-5 p-0 align-items-start" md="5">

            <div class="m-5">
                <h3 class="">{{product.name}}</h3>
                <p>Brand: {{product.brand}}</p>
                <p>Model: {{product.Model}}</p>
                 <P>Color: {{product.color}}</P>

                <button cButton [color]="ab_color" class="avility" size="">{{ability}}</button>
                <p class="price mt-5 ">   <span class="mrw">৳ </span>  {{product.price}}</p>
                  
            </div>
            <div class="">
              <button cButton color="info" size="lg">Add to cart </button>
              <button cButton color="warning" class="ms-5" size="lg">Buy now</button>
  
          </div>
           
            
          </c-col>
          <!-- <div class="btn ">
            <button cButton color="info" size="lg">Add to cart </button>
            <button cButton color="warning" class="ms-5" size="lg">Buy now</button>

        </div> -->
      </c-row>
      <c-row class="">
        <hr >
        <h5>Product details of {{product.name}}</h5>
        <p class="mt-3 pas "> {{product.description}} </p>
        <h5 class="mt-3">Specifications of {{product.name}}</h5>
        <div class="pas mt-3">
          <p>Brand: {{product.brand}}</p>
          <p>Model: {{product.Model}}</p>
           <P>Color: {{product.color}}</P>
           <p>weight: {{product.weight}}</p>
           <p> Size: {{product.size}}</p>

        </div>

      </c-row>
      <hr>
      <!-- ============================================================================================================================ -->

      <!-- <c-accordion [alwaysOpen]="true">
        <c-accordion-item #item0="cAccordionItem" [visible]="false">
          <ng-template cTemplateId="accordionHeaderTemplate" #strbox>
            <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
              <p class="pb-2">give your ratting.</p>
            <ngb-rating [rate]="0" [max]="5" #str id="str">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100"  >&#9733;</span>
              </ng-template>
            </ngb-rating>
            </button>
          </ng-template>
          <ng-template cTemplateId="accordionBodyTemplate">
            <div class="accordion-body">
            <textarea class="form-control" id="ratComment" rows="3" #text_area></textarea> 
            <button cButton color="dark" variant="outline"(click)="Onsubmit(str.rate,text_area.value)" >submit</button>
            </div>
          </ng-template>
        </c-accordion-item>
      </c-accordion> -->
      <c-row>
        <c-card class="ratingbox">
          <c-row >
            <p class="pb-2">give your ratting.</p>
            <ngb-rating [rate]="0" [max]="5" #str (click)="rattingboxHide=!rattingboxHide">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100"  >&#9733;</span>

              </ng-template>
            </ngb-rating>
            <div *ngIf="rattingboxHide">
              <textarea class="form-control" id="ratComment" rows="3" #text_area></textarea> 
              <button cButton class="form-control" color="dark" variant="outline"(click)="Onsubmit(str.rate,text_area.value)" >submit</button>
            </div>
            
          </c-row>
        </c-card>     
      </c-row>
      <!-- ========================================================== -->
      <hr>
      <c-row *ngFor="let item of ratting">

        <c-card class="ratingbox">
          <c-row >
            <p class="pb-2">{{ item.name }}  ratted  {{item.star}} /5</p>
            <ngb-rating [(rate)]="item.star" [readonly]="true" [max]="5">
              <ng-template let-fill="fill" let-index="index">
                <!-- <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3" >&#9733;</span> -->
                <span class="star" [class.filled]="fill === 100"  >&#9733;</span>

              </ng-template>
            </ngb-rating>
            <span  *ngIf="item.comment">
               &nbsp;<span>{{item.comment}}</span>
            </span>
            
          </c-row>

        </c-card>



        
       
      </c-row>

 
  </c-container>