<c-container>
        <c-row>
                <c-col  class="text-center mt-5">
                  <c-card class="mb-3">
                          <div class="imgblox">
                                <img cCardImg="top" src="./assets/cat.png">
                          </div>
                    <c-card-body>
                      <h5 cCardTitle>muhammad taneem</h5>
                      <p cCardText>
                        Email: muhammadtaneem.4@gmail.com
                      </p>

                    </c-card-body>
                  </c-card>
                </c-col>
        </c-row>


        <c-row>
                <c-col>
                        <c-nav variant="tabs">
                                <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink> Profile</a>
                                <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>My Orders </a>
                                <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2" cNavLink>Address</a>
                              </c-nav>
                              <c-tab-content #tabContent="cTabContent">
                                <c-tab-pane class="p-3">
                                  This is some placeholder content the <strong>Home</strong> tab's associated content. Clicking another tab
                                  will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
                                  content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
                                </c-tab-pane>
                                <c-tab-pane class="p-3">
                                  This is some placeholder content the <strong>Profile</strong> tab's associated content. Clicking another
                                  tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
                                  content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
                                </c-tab-pane>
                                <c-tab-pane class="p-3">
                                  This is some placeholder content the <strong>Contact</strong> tab's associated content. Clicking another
                                  tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
                                  content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
                                </c-tab-pane>
                              </c-tab-content>
                </c-col>
        </c-row>
              
</c-container>