
c-col{
    max-width: 15rem;
    min-width: 10rem;
}
img{
    max-width: 100%;
    height: 10rem;
}

// .card-body{
//     height: 7rem;
// }

// c-card-body{
//     height: 10rem;
// }

.mrw{
    font-weight: 900;
    font-size: 150%;
}